*{
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;');


body{
	font-family: 'Roboto', sans-serif;
	background-color: #ece4f063;
	
}


li, ul {
	text-decoration: none;
	list-style: none;
	border-radius: 20px;
}

/*tabela*/
th {
	background-color: #660099;
	color: white;
	padding: 8px;
}
td {
	text-align: left;
	padding: 8px;
}

tr:hover {background-color: #66009949;}

#tblListar{
	width:100%;
	border:solid #66009952 1px;
	text-align:left;
	background-color: #ffffff;
	border-collapse: collapse;
  width: 100%;
}


/*Botao*/
#btnSalvar {
	color: #fff;
	padding: 5px 10px;
	background-color: #660099;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	transition: 300ms;
}

#btnSalvar:hover {
	background-color: #6600998a;
}

#leg_pes {
	color: #660099;
}

/*versao*/
.versao{
	color: #ffffffa9;
	bottom: 10px;
	position: fixed;
	padding-left: 10px;
}	
