*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Login*/
.screen{
    display: flex;
    height: 100vh;
}

.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftside img{
    max-width: 600px;
    height: auto;
}


.righside{
    width: 400px;
    background: linear-gradient(0deg, #f26296 0%, #660099 100%);
    padding: 50px;
    border: 30px black;
    border-radius: 05px;
    
}

.log1{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}
.dbtn{
    padding-top: 20px;
}

.form-floating {
    padding-bottom: 15px;
}