*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;');

body {
    font-family: 'Roboto', sans-serif;
    
}

h2{
    padding: 10px;
    color: #fff;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px #66009921;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.btn-meu{
    background-color: #660099;
    color: #ddd;
}

/* SIDEBAR */

.sb1 {
    display: flex;
    width: 100%;
    align-items: stretch;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: linear-gradient(0deg, #f26296 0%, #660099 100%);
    color: #fff;
    transition: all 0.3s;
    border: 30px;
    border-radius: 5px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px; 
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-radius: 15px;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #b887be;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;

}

.selecionado{
    background-color: #fff;
    color: #660099;
    border-radius: 15px;
}

/* CONTENT */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}