*{
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;');


body{
	font-family: 'Roboto', sans-serif;
	background-color: #ece4f063;
}


li, ul {
	text-decoration: none;
	list-style: none;
	border-radius: 20px;
	
	
}

.sb1{
	border: 30px;
    border-radius: 20px;
}


#tblListar{
	width:100%;
	border:solid #660099 1px;
	text-align:left;
	background-color: #ffffff;
	
	

	
}

#tblListar tbody tr{
	border:solid #d9c4e2 1px;
	height:30px;
	
}

#tblListar thead{
	background-color: #660099;
	color: #fff;
	border: 20px #660099;
	border-radius: 5px;
	
}

#btnSalvar {
	color: #fff;
	padding: 5px 10px;
	background-color: #660099;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	transition: 300ms;
}

#btnSalvar:hover {
	background-color: #6600998a;
}

#leg_pes {
	color: #660099;
}

.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
	position: absolute;
    justify-content: center;
	background-color: #b887be27;
	color: #660099;
	max-height: 8vh;
	border-radius: 5px;
	font-size: 14px;
	padding-top: 2.5vh;

}
